@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.custom-shadow {
		text-shadow: 2px 2px 4px #000, -2px -2px 4px #000;
	}

	.white-shadow {
		text-shadow: 2px 2px 4px #fff, -2px -2px 4px #fff;
	}

	.truncate-4-lines {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.truncate-3-lines {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
